@import "~bootstrap/scss/bootstrap.scss";

a{
  text-decoration: none;
};

//Navbar
.linksNavbar{
  color: #ffa69e;
  text-transform: uppercase;
  font-size: 1em;
  margin: 15px;
  @media (max-width: 991px) {
    margin: 1px
  }};

.linksNavbar:focus, .linksNavbar:hover {
  color: #5e6472;
};

//CartWidget
.btn-outline-danger{
  --bs-btn-color: #ffa69e;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffa69e;
  --bs-btn-hover-border-color: #ffa69e;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffa69e;
  --bs-btn-disabled-color: #ffa69e;
};

.badge{
  background: #aed9e0 !important;
  vertical-align:super;
  --bs-badge-border-radius: 50%;
};

.bg-light {
  box-shadow: 0px -5px 10px 0px;
};

//cards listado productos
.containerProductos{
  margin-top: 40px;
};

.tituloProducto{
  color: #5e6472;
  font-weight: bold;
};

.stock{
  color: #000;
  font-size: small;
  margin-bottom: auto;
};

.precio{
  color:#000;
  font-size: large;
  font-weight: bold;
};

.cardProducto{
  height: 500px !important;
  margin: 10px;
};

.cardImagenProducto{
  justify-content: center;
  align-items: center;
  //height: 300px;
  img{
    max-height: 300px;
  };
};

.card-img, .card-img-top, .card-img-bottom {
  max-width: 100%;
};

.divListProducts{
 // margin-top: 20%;
}

//boton count
.botonCount{
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffa69e;
  --bs-btn-border-color: #ffa69e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #aed9e0;
  --bs-btn-hover-border-color: #aed9e0;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #aed9e0;
  --bs-btn-active-border-color: #aed9e0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: lightgray;
  --bs-btn-disabled-border-color: lightgray;
  --bs-gradient: none;
};

.botonCount:hover{
  font-weight: bold;
  font-size: medium;
};

.count{
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffa69e;
  --bs-btn-border-color: #ffa69e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffa69e;
  --bs-btn-hover-border-color: #ffa69e;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffa69e;
  --bs-btn-active-border-color: #ffa69e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: lightgray;
  --bs-btn-disabled-border-color: lightgray;
  --bs-gradient: none;
};

//detalle producto
.tituloProductoDetalle{
  color: #5e6472;
  font-weight: bold;
  font-size: x-large;
};

.stockProducto{
  font-size: small;
};

.precioProducto{
  font-weight: bold;
  font-size: large;
};

.btn-outline-primary {
  margin-bottom: 8px;
  margin-left: 20px;
  --bs-btn-color: #ffa69e;
  --bs-btn-border-color: #ffa69e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffa69e;
  --bs-btn-hover-border-color: #ffa69e;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffa69e;
  --bs-btn-active-border-color: #ffa69e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: lightgray;
  --bs-btn-disabled-border-color: lightgray;
  --bs-gradient: none;
};

.imagenProduct{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-img-top{
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
}

.cardDetalle{
  border: none;
}

//Carrito

.titulo{
  font-weight: bold;
  color:#5e6472;
  text-align: center;
  padding-top: 20px;
}

.text-carrito-vacio{
  text-decoration: none;
  font-size: medium;
  text-align:initial;
  padding-right: 20px;
}

.card-cart{
  width: 90%;
  flex-direction: inherit;
  margin-top: 2%;
  margin-left: 5%;
}

.img-cart{
  width: 10%;
}

.delete-product{
  
}